<div class="landing">
	<div class="container">
		<h2>Quickly post your job to start getting things done around your home</h2>
		<h3>Helping connect clients with contractors with less hassle.</h3>
	</div>
</div>

<div class="container-fluid contractor-footer">
	<p>Are you a contractor?  <a href="#">Sign up</a> here to start viewing jobs.</p>
</div>
